@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0; padding: 0;    
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
html,body {
    height: 100%;
}
h1{
    margin-top: 25px;
    color: crimson;
    float: left;
}
header {
    background-color: antiquewhite;
    height: 100px;
}
#headwrap {
    margin-left: 100px;
}
#headwrap ul {
    display: block;
}
#headwrap ul li {
    position: relative;
    display: inline-block;
    text-align: center; 
    cursor: pointer;
}
#headwrap ul li a {
    color: #000;
}
#headline {
    list-style-type: none;
    font-weight: bold;        
}
#headline li::after {
    position: absolute; 
    content:""; 
    display: block; 
    border-bottom: 3px solid #000; 
    transition: width 250ms ease-out; 
    left: auto; right: 0;  width: 0;}
#headline li:hover::after {
    width: 100%; 
    left: 0; 
    right: auto;}
#headline>li {
    margin: 40px 0px 0px 50px;
    float: left;
}
#login{
    float: right;
}
#login>li{   
    float: left;
    list-style-type: none;  
    margin: 20px 30px 0px 10px;
}
section {
    min-height: calc(100% - 200px);
}
footer {
    background-color: black;
    height: 100px;
}